body {
    font-family: "uddigikyokasho-pro", sans-serif;
    margin: 2rem;
    background-color: #fafafb;
    color: #333;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #000;
}

button {
    display: inline-block;
    margin-right: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    line-height: 1;
}

th,
td {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    text-align: left;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1.2;
}

th {
    background-color: #e9ecef;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}