/*=======
モーダル
===========*/
@media screen and (max-width: 480px) {
    /* main {
        padding: 0 1em;
    } */
    main h2 {
        margin-top: 0.5em !important;
    }
    .modal-content {
        font-size: 0.95em;
        padding: 1em;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    /* 高い値で前面に */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* 半透明の背景 */
    overflow-y: auto;
    /* スクロール対応 */
    padding: 1em;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    padding: 1.5em;
    max-width: 600px;
    width: 100%;
    margin: 5vh auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: #666;
}

.close:hover {
    color: #c9302c;
}

.modal .close {
    font-size: 1.8em;
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    cursor: pointer;
}