/* スピナーの表示 */
#lottie-spinner {
    width: 280px;
    height: 280px;
    margin: 0 auto 20px;
    display: block;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-origin: center center
        /* border: 1px dashed  blue; */
        /* 位置確認用、あとで削除可 */
}

/* =========================
   スピナー：PC用アニメーション
========================= */
/* スピナーを縮小、拡大する*/
@media (min-width: 769px) {

    /* アニメーション */
    .spinner-shrink {
        animation: shrinkSpinner 0.6s ease forwards;
    }

    .spinner-expand {
        animation: expandSpinner 0.6s ease forwards;
    }

    @keyframes shrinkSpinner {
        0% {
            transform: scale(1);
            width: 280px;
            height: 280px;
            margin-bottom: 30px;
        }

        100% {
            transform: scale(0.54);
            width: 150px;
            height: 150px;
            margin-top: -30px;
            margin-bottom: -10px;
        }
    }

    /* 拡大アニメーション */
    @keyframes expandSpinner {
        0% {
            transform: scale(0.54);
            width: 150px;
            height: 150px;
            margin-bottom: 0px;
        }

        100% {
            transform: scale(1);
            width: 280px;
            height: 280px;
            margin-bottom: 30px;
        }
    }
}

/* =========================
   スピナー：モバイル用アニメーション
========================= */
@media (max-width: 768px) {
    .spinner-disappear {
        animation: scaleOut 0.6s ease forwards;
    }

    .spinner-appear {
        animation: scaleIn 0.6s ease forwards;
    }

    @keyframes scaleOut {
        from {
            transform: scale(1);
            opacity: 1;
        }

        to {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes scaleIn {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    .result-reveal {
        animation: slideUp 0.6s ease forwards;
    }

    @keyframes slideUp {
        from {
            transform: translateY(20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}